:root {

    /**
     * COLORS
     */
  
    --gold-crayola: hsl(38, 61%, 73%);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);
  
    /**
     * GRADIENT COLOR
     */
  
    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);
  
    /**
     * TYPOGRAPHY
     */
  
    /* font-family */
    --fontFamily-forum: 'Forum', cursive;
    --fontFamily-dm_sans: 'DM Sans', sans-serif;
  
    /* font-size */
    --fontSize-display-1: calc(1.3rem + 6.7vw);
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-headline-2: calc(1.3rem + 2.4vw);
    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;
    --fontSize-label-1: 1.4rem;
    --fontSize-label-2: 1.2rem;
  
    /* font-weight */
    --weight-regular: 400;
    --weight-bold: 700;
  
    /* line-height */
    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;
  
    /* letter-spacing */
    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;
  
    /**
     * SPACING
     */
  
    --section-space: 70px;
  
    /**
     * SHADOW
     */
  
    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
  
    /**
     * BORDER RADIUS
     */
  
    --radius-24: 24px;
    --radius-circle: 50%;
  
    /**
     * TRANSITION
     */
  
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;
  
  }
















/* index html  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--black);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: var(--transition-2);
  }
  
  .preload > * { transition: var(--transition-1); }
  
  .preload.loaded > * { opacity: 0; }
  
  .preload.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
  }
  
  .circle {
    width: 112px;
    height: 112px;
    border-radius: var(--radius-circle);
    border: 3px solid var(--white);
    border-block-start-color: var(--smoky-black-3);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
  }
  
  @keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  }
  
  .preload .text {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px var(--eerie-black-3);
    animation: loadingText linear 2s infinite;
  }
  
  @keyframes loadingText {
    0% { background-position: 100%; }
    100% { background-position: 0%; }
  }
  
  
  
  
:root{
    --button-back: gray;
    --button-color: white;
    --black:black;
    --white: rgb(255, 255, 255);
    --button-hover: rgb(36, 36, 36);
    --main-back-color : rgba(255, 255, 255, 0.904);
    --menu-main: rgba(255, 255, 255, 0.671);
    --back-color-image-list: rgba(5, 5, 5, 0.582);
    --back-color-image-list-hover: rgb(0, 0, 0);
    --menu-back: rgba(39, 39, 39, 0.795);
}
.dark{
    --button-back: rgb(54, 54, 54);
    --button-color: white;
    --black:rgb(255, 255, 255);
    --white: rgb(29, 29, 29);
    --button-hover: rgb(255, 255, 255);
    --main-back-color: rgba(44, 44, 44, 0.904);
    --menu-main: rgba(41, 41, 41, 0.671);
    --back-color-image-list: rgba(255, 255, 255, 0.664);
    --back-color-image-list-hover: rgb(255, 255, 255);
    --menu-back: rgba(235, 235, 235, 0.699);

}
body {
    overflow-x: hidden;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-image: url('./img/back.jpg') !important;
    background-position: center;
    width: 100%;
    height: 86vh;
    font-family: 'Exo 2';
    scroll-behavior: smooth;
}

.header {
    margin-top: 50px;
    position: static;
    text-align: center;
}
.dark-theme{
    position: relative;
    top: -30px;
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    width: 45px;
    border-radius: 130px;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    -ms-border-radius: 130px;
    -o-border-radius: 130px;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.dark-theme:hover{
    background-color: var(--black);
    color: var(--white);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.logo img {
    width: 90px;
    height: 90px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.abouts {
    background-color: var(--button-back);
    margin-top: 20px;
    color: var(--button-color);
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.abouts:hover {
    background-color: var(--button-hover);
    color: var(--white);
}

.logo {
    margin-bottom: 70px;
}

.main {
    margin-top: 50px;
    padding: 10px 0;
    padding-top: 60px;
    border-radius: 20px 20px;
    height: 80.1vh;
    background-color: var(--main-back-color);
}


/* images side  */

.backimage {
    background-color: var(--back-color-image-list);
    width: 110px;
    height: 110px;
    border-radius: 25px;
    padding: 10px 0px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    margin-right: -25px;
    transition: 0.4s;
}

.backimage:hover {
    background-color: var(--back-color-image-list-hover);
    /* transform: rotate(3deg); */
    transform: translateY(-5px);
}

.image-side {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
}

.text-image {
    color: var(--white);
    font-size: 11px;
    margin-top: 6px;
}

@media screen and (min-width: 770px) {
    .col {
        margin-left: 90px;
    }
        .title{
          left: 46% !important;
        }
        .menubutton{
            right: 70px !important;
          }
          .card-rows{
            position: relative;
            right: 30px;
          }
}

@media screen and (min-width: 1100px) {
    .col {
        margin-left: 190px;
    }
    .logo img {
        margin-right: 150px;
    }
    .abouts{
        margin-right: 140px;
    }
    .title{
        left: 48% !important;
      }
      .menubutton{
        right: 70px !important;
      }
      /* .card-rows{
        width: 800px !important;
        position: relative;
        right: 350px;
      }  */
      .card-rows{
        position: relative;
        right: 90px;
      }
      .main-menu{
        height: 1780vh !important;
      }
}


@media screen and (max-width: 380px) {
    .backimage {
        margin-right: -18px;
        width: 100px;
    }
    .text-image {
        font-size: 9px;
    }
}
@media screen and (max-width: 500px) {
    .main-menu{
        height: 1630vh !important;
      }
}

/* images side  */
/* index html  */

/* menu  */
.header-menu{
    background-color: var(--white);
    width: 100%;
    height: 90px;
    margin-top: 10px;
    border-radius: 30px;
    z-index: 10000;
    padding: 10px;
    overflow: scroll;
    overflow-Y: hidden;
    overflow-x: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.dark-theme-menu{
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    width: 45px;
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 130px;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    -ms-border-radius: 130px;
    -o-border-radius: 130px;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.dark-theme-menu:hover{
    background-color: var(--white);
    color: var(--black);
}
.title{
    text-align: center;
    margin-bottom: 38px;
    position: absolute;
    left: 43.5%;
    top: 14px;
}
.logo-menu{
    width: 65px;
    border-radius: 10px;
    height: 60px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.menuclick{
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    width: 45px;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    right: 30px;
    top: 10px;
    border-radius: 130px;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    -ms-border-radius: 130px;
    -o-border-radius: 130px;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.menuclick:hover{
    background-color: var(--white);
    color: var(--black);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.menuclick:hover a{
    color: var(--black);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header-menu a{
    color: var(--white);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.header-menu a:hover{
    color: var(--black);
}
.main-menu{
    background-color: var(--menu-main);
    width: 100%;
    height: 2390vh;
    margin-top: 200px;
    border-radius: 70px 70px 0 0;
    -webkit-border-radius: 70px 70px 0 0;
    -moz-border-radius: 70px 70px 0 0;
    -ms-border-radius: 70px 70px 0 0;
    -o-border-radius: 70px 70px 0 0;
    padding: 40px 10px;
    position: relative;
}
.texttopmenubutton{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.menubutton{
    text-align: center;
    background-color: var(--black);
    padding: 10px;
    position: fixed;
    width: 40px;
    z-index: 1000;
    right:50px;
    top: 236px;
    color: var(--white);
    border-radius: 10px;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.menubutton:hover{
    color: var(--black);
    background-color: var(--white);
}
/* menuslide */
.menuslide{
    background-color: var(--white);
    position: fixed;
    width: 100%;
    left: 0;
    height: 140%;
    z-index: 1000;
    top: -50px;
    padding-top: 250px;
    padding-bottom: 30px;
    padding-right: 30px;
    text-align: center;
    display: none;
}
.close{
    transition: 0.3s;
    color: var(--white);
    background-color: var(--black);
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    right: 20px;
    top: 180px;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.close:hover{
    color: var(--black);
    background-color: var(--white);
}
/* menuslide */

.cards{
    background-color: var(--menu-back);
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 99.7%;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.card-rows{
    width: 100%;
    top: 40px;
    margin-bottom: 60px;
    text-align: center;
    align-items: baseline;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    height: 140px;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--black);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.title-card{
    color: var(--white);
    text-align: center;
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}
.card-infos .card-img{
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-align: center;
    align-items: center;
    top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.card-infos .card-img img{
    width: 90px;
    height: 90px;

}
.card-name{
    position: absolute;
    right: 120px;
    font-size: 20px;
    top: 20px;
    font-weight: 600 !important;
}
.card-price{
    position: absolute;
    bottom: 50px;
    right: 140px;
}
.riyal{
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.yaddasht{
    position: fixed;
    top: 590px;
    left: 0;
    height: 150px;
    display: none;
    width: 100%;
    box-shadow: 0 0 10px var(--white);
    z-index: 1000;
    width: 1000;
    background-color: var(--menu-back);
}
.buy{
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
}
.buy div {
    margin-left: 20px;
}
.buy button {
    font-weight: 600;
    background-color: white;
    border-radius: 30px;
    height: 40px;
    text-align: center;
    width: 30px;
    color: black;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
/* menu  */


/* menuwhenbuy  */
.close-yad{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    height: 28px;
    width: 30px;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sabad{
    position: absolute;
    top: 35px;
    right: 40px;
    background-color: var(--white);
    padding: 10px;
    height: 70px;
    text-align: center;
    border-radius: 5px;
    width: 70px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.sabad i{
    font-size: 50px;
    color: var(--black);
}
.plusBuy,
.negBuy{
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
    border: none;
    font-size: 20px;
}
.boxprice{
    color: var(--white);
    position: absolute;
    right: 260px;
    top: 0;
}
.tomas-show{
    position: absolute;
    top: 25px;
    left: -70px;
    width: 100px;
    font-size: 15px;
}
.showprice{
    position: absolute;
    top: 22px;
    left: 40px;
    font-size: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

.totalpricenned{
    position: absolute;
    right: -160px;
    top: 24px;
    font-size: 17px;
    margin-left: 20px;
}
/* menuwhenbuy  */
